body 
{
    color: firebrick;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container
{
    border: 2px solid #ddd;
}
#Cabecera {
    background: blue;
    text-align: center;
    color: chocolate;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}